{% load i18n %}
{% block html %}
{% load static from staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>confirmation</title>
<style type="text/css">
	span { display:block;}
</style>
</head>
<body>
	<table>
		<tr>
	
			<td>
				<p style="font-size: 13px; color:#000; line-height: 18px; display:block; padding:8px 0px 4px;"><b>Error Level       :</b> {{errorlevel}}</p>
				<p style="font-size: 13px; color:#000; line-height: 18px; display:block; padding:8px 0px 4px;"><b>Error Message      :</b> {{error_msg}}</p>
				<p style="font-size: 13px; color:#000; line-height: 18px; display:block; padding:8px 0px 4px;"><b>Error Information :</b> {{error_line}}</p>
				{% if error_ip %}<p style="font-size: 13px; color:#000; line-height: 18px; display:block; padding:8px 0px 4px;"><b>Ip Address        :</b> {{error_ip}}</p>{% endif %}
				<p style="font-size: 13px; color:#000; line-height: 18px; display:block; padding:8px 0px 4px;"><b>User Name     :</b> {{error_user}}</p>
			</td>
				
		</tr>
	</table>
    <span class="subject" style="display: none;">
    	{% if subject %} {% trans subject %}
	 	{% else %}
	 	{% trans "Error Message" %}
	 	{% endif %}
	</span>
</body>
</html>
{% endblock %}