{% extends request.is_ajax|yesno:"base_ajax.html,base.html" %}
{% load static from staticfiles %}
{% block content %}
{% if not request.is_ajax %}
	<form id="form_search_filter" class="form_search_filter">
	    <input id="search_form" type="hidden" name="{{form.q.html_name}}"  value="{{form.q.value|default:''}}"/>
	    <input type="hidden" name="page" id="page" value="{{page.number}}"/>    
	</form>

	<div class="listpage_adv col-md-2 container">
		<img src="{% static "img/advertisement_1.png" %}"><br><br>
		<img src="{% static "img/advertisement_2.png" %}">
	</div><!--listpage_adv-->
	
	<div class="list_search">
		<div class="container search_listpage">
			<div class="listpage">
				<form>
				    <div class="form-group">
				   		<input type="text" class="form-control search_box_listpage" id="usr" placeholder="SEARCH">
				   		<a class="search_btn_listpage"><i class="fa fa-search search_font_listpage"></i></a>
				   		<div class="view_list">
							<span class="view_txt">VIEW</span>
				 			<a><i class="fa fa-th grid_view"></i></a>
				 			<a><i class="fa fa-list list_view"></i></a>
			 			</div><!--view_list-->
					</div><!--form-group-->
				 </form> 
			</div><!--listpage-->
		</div><!--search_listpage --> 
	</div><!--list_search-->
	 
	<div class="listpage_result">
		<div class="breadcrumbs col-md-8">
			<ul>
				<li>HOME</li> <i class="fa fa-angle-double-right"></i>
				<li>ENTERTAINMENTS</li><i class="fa fa-angle-double-right"></i>
				<li>MUSIC & DANCE</li>
			</ul>
			<div class="events_result">
				<span class="showing_list">SHOWING</span>
				<span class="result_count">150 RESULTS</span>
			</div><!--events_result-->
		</div><!--breadcrumbs-->
	</div><!--list_result-->
	
   <div class="list_leftpart">
	   	<div class="row part1 col-md-3">
	   		<ul>
		   		<li class="sort_txt">YOU CAN SORT BY</li>
		 		<li class="row subcategory_txt">
		 		<i class="fa fa-bars bar_font"></i>SUBCATEGORIES</li>
			</ul>
			<div class="category_icon">
		    	<div class="icon_list">
		    		<ul>
		    		{% for category in eventscategory %}
		    			<li>
			    			<img src="{{MEDIA_URL}}{{category.category_icon}}" class="category_img category_img{{forloop.counter}}">
			    			<img src="{{MEDIA_URL}}{{category.category_hover_icon}}" class="category_hovericon">
		    			</li>	
		    		{% endfor %}	    			
		    		</ul>
		    	</div><!--icon_list-->
		    </div><!--category_icon-->
	   
		    <div class="subcategory_list">
		    	<div class="entertainment_list">
		    		<ul>
		    			<li>MUSIC & DANCE</li>
		    			<li>FASHION SHOW</li>
		    			<li>MOVIE AND SCREENING</li>
		    			<li>NIGHT LIFE AND PARTY</li>
		    			<li>KIDS EVENT</li>
		    			<li>NEW YEAR</li>
		    			<li>DRAMA</li>
					</ul>
		    	</div><!--entertainment_list-->
		   
		    <div class="campus_list">
		    	<ul>
		    		<li>ALUMNI MEET</li>
		    		<li>SEMINAR</li>
		    		<li>WORKSHOP</li>
		    		<li>CONFERENCE</li>
		    		<li>ENTERPRENEURSHIP</li>
		    		<li>ONLINE EVENTS</li>
		    		<li>YOUTH SUBMIT</li>
		    		<li>TECHNICAL</li>
		    		<li>CULTURALS</li>
		    		<li>LITERARY</li>
		    		<li>SYMPOSIUM</li>
		    	</ul>
		    </div><!--campus_list-->
	    	<div class="competition_list">
	    		<ul>
	    		<li>ART</li>
	    		<li>MUSIC & DANCE</li>
	    		<li>PHOTOGRAPHY</li>
	    		<li>FOOD</li>
	    		<li>MOVIES & FILMS</li>
	    		<li>GAMES</li>
	    		</ul>
	    	</div><!--competition_list-->
	    	<div class="exhibition_list">
	    		<ul>
	    			<li>LITERARY</li>
	    			<li>ART</li>
	    			<li>MAGICAL SHOWS</li>
	    			<li>FILM FESTIVAL</li>
	    			<li>FOOD FESTIVAL</li>
	    			<li>GAMES</li>
	    			<li>FASHION & CLOTHS</li>
	    			<li>GROCERY</li>
	    			<li>HOME APPLIANCES</li>
	    		</ul>
	    	</div><!--exhibition_list-->
	    	<div class="spiritual_list">
	    		<ul>
	    			<li>HEALTH,FITNESS & WELNESS</li>
	    			<li>SPIRITUALITY & MEDITATION</li>
	    		</ul>
	    	</div><!--spiritual_list-->
	    	<div class="business_list">
	    		<ul>
	    			<li>CONFERENCE</li>
	    			<li>CHARITY</li>
	    			<li>ENTERPRENEURSHIP</li>
	    			<li>PROFESSIONAL DEVELOPMENT</li>
	    			<li>SALES & MARKETING</li>
	    		</ul>
	    	</div><!--business_list-->
	    	<div class="sports_list">
	    		<ul>
	    			<li>CRICKET</li>
	    			<li>CYCLING</li>
	    			<li>MARATHAN</li>
	    			<li>SOCCER</li>
	    			<li>TENNIS</li>
	    			<li>TABLE TENNIS</li>
	    			<li>SWIMMING</li>
	    		</ul>
	    	</div><!--sports_list-->
	    	<div class="adventure_list">
	    		<ul>
	    			<li>TREKKING</li>
	    			<li>CAMPING</li>
	    			<li>ROCK CLIMBING</li>
	    			<li>SURFING</li>
	    			<li>PARAGLIDING</li>
	    			<li>SCUBA DIVING</li>
	    			<li>KAYAKING</li>
	    		</ul>
	    	</div><!--adventure_list-->
	    	 </div><!--subcategory_list-->

	  	<div class="row city_categories">
	     	<div class="city_select col-md-12">
	     		<div class="form-group">
	     			<label>CITY</label>
					<i class="fa fa-sort-desc sort_city"></i>
					<select class="form-control city_selectbox" id="sel1">
				        <option>AGRA</option>
				        <option></option>
				        <option></option>
				        <option></option>
			      	</select>
		      	</div><!--form-group-->
	     		<div class="check_list">
		     		<ul>
		     			<li><input type="radio" name="radio" class="radio_btn">FREE</li>
		     			<li><input type="radio" name="radio" class="radio_btn">PAID</li>
	     			</ul>
	     		</div><!--check_list-->
	     	</div><!--city_select-->
	     </div><!--city_categories-->

	    </div><!--part1-->
</div><!--list_leftpart-->
{% endif %} 
{% endblock %} 

{% block search_results %}
{% if not request.is_ajax %}
<div id="search_result" class="list_active">
{% endif %}
	{% if page and page.object_list%}
		<div class="listview_events container">
				{% for events in page.object_list %}
					{% if events.object.admin_status == True %}
							<div class="event_content col-md-12">
								<div class="event_image">
									<img src="{% static "img/listview_img1.png" %}">
										<div class="event_details col-md-8">
											<ul>
												<li>{{events.object.event_title}}</li>
												<li><img src="{% static "img/listview_icon1.png" %}" class="list_smallicon">{{events.object.event_category}}</li>
												<li><i class="fa fa-map-marker"></i>{{events.object.city}},{{events.object.country}}</li>
												<li>DEC 18-2015 <mark class="event_time">02:00PM</mark></li>
											</ul>
										</div><!--event_details-->
										<a href="#" class="view_details">VIEW DETAILS</a>
								</div><!--event_image-->
							</div><!--event_content-->
					{% endif %}
				{% endfor %}
		</div><!--listview_events-->

		<div class="listgrid_events container">
						{% for events in page.object_list %}
							{% if events.object.admin_status == True %}
								<div class="gridview_content col-md-6">
									<div class="gridview_image">
										<img src="{% static "img/list_img1.png" %}">
										<div class="gridview_details">
											<ul>
												<li>{{events.object.event_title}}</li>
												<li><img src="{% static "img/listview_icon5.png" %}"  class="list_smallicon">{{events.object.event_category}}</li>
												<li>DEC 18-2015 <mark class="event_time">02:00PM</mark></li>
											</ul>
										</div><!--gridview_details-->
									</div><!--gridview_image-->
								</div><!--gridview_content-->	
							{% endif %}
						{% endfor %}
		</div><!--listgrid_events-->

		<div class="list_pagination container">
			<ul class="pagination">
				<li>
					 {% if page.has_previous %} 
		                <a data-ajaxlink="true" data-ajaxpage="{{ page.previous_page_number }}" href="?q={{request.REQUEST.q}}&page={{ page.previous_page_number }}" class="previous">PREV
		                <i class="fa fa-angle-left"></i></a> 
		             {% endif %}
				</li>
				{% for p in page.paginator.page_range %}
		            {% if p|add:3 >= page.number and p|add:-3 <= page.number %}
		                <li {% if p == page.number %} class="active"{% endif %}>
		                    <a data-ajaxlink="true" data-ajaxpage="{{ p }}" href="?q={{request.REQUEST.q}}&page={{ p }}">
		                        {{ p }}
		                    </a>
		                </li> 
		            {% endif %}
		        {% endfor %}
			    <li>
		            {% if page.has_next %} 
		                <a data-ajaxlink="true" data-ajaxpage="{{ page.next_page_number }}" href="?q={{request.REQUEST.q}}&page={{ page.next_page_number }}" class="next">NEXT
		                    <i class="fa fa-angle-right"></i>
		                </a>
		            {% endif %}
		         </li> 
			</ul>
	    </div><!--list_pagination-->
	{% else %}
	    <div class=""><span>No Results Found</span></div>
	{% endif %}	
{% if not request.is_ajax %}	
</div><!--search_result-->	
{% endif %}	
{% endblock %}
