{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui.structure.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui.theme.css" %}">
	
	<script type="text/javascript" src="{% static "js/jquery-1.7.1.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/jquery-ui.js" %}"></script>
	<script type="text/javascript" src="{% static "js/eventswat.js" %}"></script>
	<script type="text/javascript" src="{% static "js/search.js" %}"></script>
	<script type="text/javascript" src="{% static "js/scripts.js" %}"></script>
	<script type="text/javascript" src="{% static "js/action.js" %}"></script>
	<script type="text/javascript" src="{% static "js/masonry.pkgd.js" %}"></script>
	<script type="text/javascript" src="{% static "js/jquery.magnific-popup.js" %}"></script>
</head>
<body>
	<div class="header_wrapper">		
		<nav class="navbar">
		  <div class="container">
		    <div class="navbar-header">
		      <a class="logo" href="/"> </a>
		    </div><!--navbar-header-->
		    <div>
		      <ul class="nav navbar-nav">
		      	{% if not user.is_authenticated %}
		        	<li class="active"><a href="#" class="register">REGISTER</a></li>
		        	<li><a href="#" class="login_button">LOGIN</a></li>
		        	<li><a href="#" class="login_act upload_banner_btn_act">POST BANNER</a></li>
			        <li><a href="#"  class="login_act post_event_btn_act">POST EVENTS</a></li>		        	
		        {% else %}
					<li><a href="/">{{request.user.email}}</a></li>
					<li><i class="fa fa-caret-down dropdown"></i>
						<div class="user_menu col-md-2">
							<ul class="menulist">
                              <li><a href="#">Personal Info</a></li>
                              <li><a  class="privacy" href="#">Privacy</a></li>
                              <li><a href="#">My events</a></li>
                            </ul>
						</div>
					</li>					
					<li><a href="/logout/" class="logout">Logout</a></li>
					<li><a href="/banner">POST BANNER</a></li>
			        <li><a href="/postevent">POST EVENTS</a></li>
				{% endif %}	    	       
			       
		      </ul>
		    </div>
		  </div><!--container-->
		</nav>

		<div class="banner_introduction">
			<i class="fa fa-angle-down down-arrow"></i>
		</div><!--banner_introduction-->
	</div><!--header_wrapper-->

	<div class="slider_content">
		<div class="carousel-outer">	
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
				{% for banners in banner|get_banner %}
				{% if banners.admin_status == True and banners.bannerplan.page == 'All pages' and banners.bannerplan.position  == 'Top' %} 	
				
				    <div class="item {% if forloop.counter == 11 %}active {% endif %}">
				    	
                            <img src="../media/{{banners.banner}}"  alt="">                        
                        
				    </div>
				{% endif %}    
				{% endfor %}    
				   
				</div><!--carousel-inner-->
				<a href="#carousel-example-generic" role="button" data-slide="prev">
				    <i class="fa fa-long-arrow-left"></i>
				</a>
				<a href="#carousel-example-generic" role="button" data-slide="next">
				    <i class="fa fa-long-arrow-right"></i>
				</a>
			</div> <!-- Carousel -->
		</div><!--carousel-outer-->
	</div><!--slider_content-->

	{% block content %}	
	{% endblock %}

	{% block search_results %}
	{% endblock%}
	{% include "popup.html" %}

</body>
</html>