{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}
	 <div class="search_bar">
		<div class="container">
			<form method="get" action="/search/?q=" id="f_search" name="f_search">
			    <div class="form-group">
			   		<input type="text" class="form-control search_box" id="usr" name="q">
			   		<a class="search-btn"><i class="fa fa-search search_font"></i></a>
			   		<button type="button" class="advance_btn">ADVANCE SEARCH</button>
			   		<i class="fa fa-angle-right angle_search"></i>
			   		<input type="hidden" value="" name="city"/>
			    </div><!--form-group-->
			 </form> 
		</div><!--container-->
	</div><!--search_bar --> 

	<div class="advance_search">
		<div class="container advance_content">
			<form id="form_search_filter" class="form_search_filter">
				<div class="form-group event_btn">
				   		<input type="text" class="form-control event_search" id="event_title" placeholder="SEARCH BY EVENT NAME" name="event_title">
				</div><!--form-group-->
				<!-- <div class="form-group category_dropdown">
					<i class="fa fa-sort-desc sort_font"></i>
					<select class="form-control category_search" id="sel1">
				        <option>SELECT CATEGORIES</option>
				        <option></option>
				        <option></option>
				        <option></option>
			      	</select>
		      	</div> --><!--form-group-->
				<div class="form-group city_btn">
				   		<input type="text" class="form-control city_search" id="city" placeholder="SELECT CITY" name="city">
				</div><!--form-group-->
				<a class="advsearch-btn"><i class="fa fa-search search_font"></i></a>
				<a class="down_btn"><i class="fa fa-angle-down down_font"></i></a>
				<!-- <input type="hidden" id="search_keyword"  value="" name="q"/> -->
				<!-- <input type="hidden" id="page" value="{{page.number}}" name="page"/> -->
				<!-- <input type="hidden" value="" name="eventtitle"/>  -->
				<!-- <input type="hidden" value="" name="category"/>  -->
				<!-- <input type="hidden" value="" name="city"/>   -->
			</form>
		</div><!--container-->
	</div><!--advance_search-->

	
    <div class="calander">
        <div class="container">
            <div class="col-md-6">
                <div id="datepicker"></div><!--datepicker-->
		            <div class="events_calander">
				  		<div class="events_content">
				  			<span class="event_date">DEC 09</span>
				  			<span class="event_day"> WEDNESDAY</span><br>
				  			<span class="event_year">2015</span>
				  			<div class="event_name">
				  				<ul class="jevent_list_date">
				  					<li>INTERNATIONAL WINTER</li>
				  					<li>INTERNSHIP AND TRAINING PROGRAM</li>
				  					<li>MIRAGE 2015</li>
				  				</ul>
				  			</div><!--event_name-->
				  		</div><!--events_content-->
				  	</div><!--events_calander-->
			</div><!--col-md-6-->
		</div><!--container-->
    </div><!--calander-->

    <div class="grid">
	  <div class="grid-sizer"></div>
	  <div class="grid-item grid-item--width2 grid-item--height2">
	   <img src="{% static "img/category_img1.png" %}">
	</div>
	  <div class="grid-item grid-item--width3 grid-item--height3">
	    <img src="{% static "img/category_img2.png" %}">
	  </div>
	  <div class="grid-item grid-item--width4 grid-item--height4">
	    <img src="{% static "img/category_img3.png" %}">
	  </div>
	  <div class="grid-item grid-item--width5 grid-item--height5">
	    <img src="{% static "img/category_img4.png" %}">
	  </div>
	  <div class="grid-item grid-item--width6 grid-item--height6">
	    <img src="{% static "img/category_img5.png" %}">
	  </div>
	  <div class="grid-item grid-item--width7 grid-item--height7">
	    <img src="{% static "img/category_img6.png" %}">
	  </div>
	  <div class="grid-item grid-item--width8 grid-item--height8">
	    <img src="{% static "img/category_img7.png" %}">
	  </div>
	  <div class="grid-item grid-item--width9 grid-item--height9">
	    <img src="{% static "img/category_img8.png" %}">
	  </div>
	</div>
		
{% endblock %}

	




