{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}
	 <div class="search_bar">
		<div class="container search_content">
			<form method="get" action="/search/?q=" id="f_search" name="f_search">
			    <div class="form-group">
			   		<input type="text" class="form-control search_box" id="usr" name="q" value="">
			   		<!-- <input type="hidden" value="" name="keywords" id="keywords"> -->
			   		<a class="search-btn"><i class="fa fa-search search_font"></i></a>
			   		<button type="button" class="advance_btn">ADVANCE SEARCH</button>
			   		<i class="fa fa-angle-right angle_search"></i>
			   		<input type="hidden" value="" name="city"/>
			    </div><!--form-group-->
			 </form> 
		</div><!--container-->
	</div><!--search_bar --> 

	<div class="advance_search">
		<div class="container advance_content">
			<form>
				<div class="form-group event_btn">
				   	<input type="text" class="form-control event_search ui-autocomplete-input"  placeholder="SEARCH BY EVENT NAME" name="event_title" id="filter_title_term">
				   	<input type="hidden" class="form-control" value="" id="fitlter_title" name="title" /> 
				</div><!--form-group-->
				<!-- <div class="form-group category_dropdown">
					<i class="fa fa-sort-desc sort_font"></i>
					<select class="form-control category_search" id="sel1">
				        <option>SELECT CATEGORIES</option>
				        <option></option>
				        <option></option>
				        <option></option>
			      	</select>
		      	</div> --><!--form-group-->
				<div class="form-group city_btn">
				   	<input type="text" class="form-control city_search ui-autocomplete-input" placeholder="SELECT CITY" name="event_city" id="fitltercitytxt">
				   	 <input type="hidden" class="form-control" value="" id="fitltercity" name="city" /> 
				</div><!--form-group-->
				<a class="advsearch-btn"><i class="fa fa-search search_font"></i></a>
				<a class="down_btn"><i class="fa fa-angle-down down_font"></i></a>				
			</form>
		</div><!--container-->
	</div><!--advance_search-->

	
    <div class="calander">
        <div class="container">
            <div class="col-md-6">
                <div id="datepicker_calender"></div><!--datepicker-->
		            <div class="events_calander">
				  		<div class="events_content">
				  			<span class="event_date">DEC 09</span>
				  			<span class="event_day"> WEDNESDAY</span><br>
				  			<span class="event_year">2015</span>
				  			<div class="event_name">
				  				<ul class="jevent_list_date">
				  					<li>INTERNATIONAL WINTER</li>
				  					<li>INTERNSHIP AND TRAINING PROGRAM</li>
				  					<li>MIRAGE 2015</li>
				  				</ul>
				  			</div><!--event_name-->
				  		</div><!--events_content-->
				  	</div><!--events_calander-->
			</div><!--col-md-6-->
		</div><!--container-->
    </div><!--calander-->

    <div class="categories_home container">
    	<span>ALL CATEGORIES</span>
    </div><!--categories_home-->
    <div class="cat_img1"></div>
    
    <div class="grid">
		<div class="grid-sizer"></div>
			
  			<div class="grid-item grid-item--width2">
	    		
	  		</div>
	  		<div class="grid-item grid-item--width3">
	    		
	  		</div>
	  		<div class="grid-item grid-item--width4">
	    		
			</div>
			<div class="grid-item grid-item--width5">
		    	
		  	</div>
	  		<div class="grid-item grid-item--width6">
	    		
	  		</div>
	  		<div class="grid-item grid-item--width7">
	  			
	  		</div>
	  		<div class="grid-item grid-item--width8">
	    		
	  		</div>
	</div><!--grid-->

	<div class="upcoming_events container">
		<span class="upcoming_txt">UPCOMING EVENTS</span>
	
		<div class="upcoming_part1">
			<ul class="filterdata">
				<li class="shadow" style="position: absolute; top: 0px; z-index: 999;"><a href="" data-value="allevent">ALL</a></li>
				<li class="shadow" style="position: absolute; top: 89px; z-index: 998;"><a href="" data-value="today">TODAY</a></li>
				<li class="shadow" style="position: absolute; top: 179px; z-index: 997;"><a href="" data-value="tommorrow">TOMORROW</a></li>
				<li class="shadow" style="position: absolute; top: 269px; z-index: 996;"><a href="" data-value="thisweek">THIS WEEK</a></li>
				<li class="shadow" style="position: absolute; top: 359px; z-index: 995;"><a href="" data-value="thisweekend">THIS WEEKEND</a></li>
				<li class="shadow"  style="position: absolute; top: 449px; z-index: 994;"><a href="" data-value="thismonth">THIS MONTH</a></li>
				<li class="shadow" data-value="" style="position: absolute; top: 539px; z-index: 993;"><a href="" data-value="free">FREE</a></li>
			</ul>
		</div><!--upcoming_part1-->

	<div class="grid_events_home container">
		{% for recent_poster in recent_poster %}
			{%if recent_poster.postevent.admin_status == True %}
			<div class="gridview_content col-md-4">
				<div class="gridview_image">
					<img src="../media/{{recent_poster.event_poster_medium}}" alt="">
					<div class="gridview_details">
						<ul>						
							<li>{{recent_poster.postevent.event_title}}</li>
							<li><img src="../media/{{recent_poster.postevent.event_subcategory.subcategory_icon}}"  class="list_smallicon">{{recent_poster.postevent.event_subcategory.subcategory_name}}</li>
							<!-- <li></li> -->
							<li>{{recent_poster.postevent.event_startdate_time}}<!-- <mark class="event_time">02:00PM</mark> --></li>
						</ul>
					</div><!--gridview_details-->
				</div><!--gridview_image-->
			</div><!--gridview_content-->
			{% endif %}
		{% endfor %}		
			<!-- <div class="gridview_content col-md-4">
			<div class="gridview_image">
				<img src="{% static "img/list_img3.png" %}">
				<div class="gridview_details">
					<ul>
						<li>AATRAL 2K15 CHENNAI</li>
						<li><img src="{% static "img/listview_icon2.png" %}"  class="list_smallicon">SPIRITURAL</li>
						<li>DEC 18-2015 <mark class="event_time">02:00PM</mark></li>
					</ul>
				</div> --><!--gridview_details-->
			<!-- </div> --><!--gridview_image-->
		<!-- </div> --><!--gridview_content-->
		
	</div><!--grid_events_home-->
	</div><!--upcoming_events-->
	<div class="prioritized_banner container">
		<span>PRIORITIZED BANNER</span>
		<div class="large_image">
			{% for banners in banner|get_banner %}
				{% if banners.bannerplan.page == 'Home page' and banners.bannerplan.position == 'Bottom' and banners.admin_status == True %}  
					<img src="../media/{{banners.banner}}" class="large_image_size" alt="">
				{% endif %}	   
			{% endfor %}
		</div><!--large_image-->
			<div class="thumbnail_holder">	
				<div class="thumbnails_img">
					{% for banners in banner|get_banner %}
			            {% if banners.bannerplan.page == 'Home page' and banners.bannerplan.position == 'Bottom' and banners.admin_status == True %}                
			                	<img src="../media/{{banners.banner}}" class="thumbs"  alt="">               
			            {% endif %}
			        {% endfor %}
	         </div><!--thumbnails_img--> 
        </div><!--thumbnail_holder-->  
		
		<div class="prev_thumbs col-md-12">
			<ul>
				<li><i class="fa fa-caret-left thumbs_left"></i></li>
				<li><i class="fa fa-caret-right thumbs_right"></i></li>
			</ul>
		</div><!--prev_thumbs-->
	</div><!--prioritized_banner-->
	<div class="footer_part1 container">
		<div class="block_1 col-md-3">
			<span class="block1_txt">EVENTSWAT.COM</span>
			<ul>
				<li>About Us</li>
				<li>Privacy Policy</li>
				<li>Terms & Conditions</li>
				<li>Faqs</li>
			</ul>
		</div><!--block_1-->
		<div class="block_2 col-md-3">
			<span class="block2_txt">JOIN OUR HANDS</span>
			<ul>
				<li>Feedback</li>
				<li>Careers</li>
				<li>Advertise With Us</li>
				<li>Special Offers</li>
			</ul>
		</div><!--block_2-->

	</div><!--footer_part1-->
{% endblock %}

	




