/* Home page */
.navbar-nav {
	float: right;
}
.navbar {
    background: white none repeat scroll 0 0;
    position: absolute;
    top: 0%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    font-family: Microsoft Yi Baiti;
    font-size: 18px;
}
.navbar-nav li a {
    color: #4d4d4d;
}
.active_color{
    color: #fff !important;
}
.nav > li > a:hover {
  	color: black !important;
  	background-image: linear-gradient(-71deg, #f9c811, #f1a65f) !important;
}

.logo {
    width:152px;
    height:55px;
    display:block;
    background :url("../img/logo.png") 0px 0px no-repeat;
    background-position: 0px 0px;
}
.white_logo {
    background :url("../img/logo.png") 0px 0px no-repeat;
    background-position: 0px -55px;
}
.navbar_active {
    background-image: linear-gradient(68deg, #fd7843, #fb6262);
    position: fixed;
    top: 0%;
    width: 100%;
    font-family: Microsoft Yi Baiti;
    font-size: 18px;

}
.down-arrow {
    color: #f79525;
    font-size: 62px;
    left: 50%;
    position: absolute;
    top: 90%;
    cursor: pointer;
}
.banner_introduction {
    width: 100%;
    height: 654px;
    background :url("../img/banner.png") no-repeat center center fixed;
    background-size: cover;
}
.item img {
    width: 100% !important;
    height: 500px !important;
}
.fa.fa-long-arrow-left {
    border: 1px solid white;
    color: white;
    font-size: 30px;
    font-weight: lighter;
    height: 60px;
    left: 20px;
    padding: 15px 0;
    position: absolute;
    text-align: center;
    top: 50%;
    vertical-align: middle;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.55);
}
.slider_content {
    position: relative;
    width: 100%;
}
.fa.fa-long-arrow-right {
    right: 0;
    border: 1px solid white;
    color: white;
    font-size: 30px;
    font-weight: lighter;
    height: 60px;
    position: absolute;
    top: 50%;
    width: 60px;
    padding: 15px 0;
    vertical-align: middle;
    text-align: center;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.55);
}
.carousel-inner > .item {
    height: 500px !important;
}
.search_bar {
    background-color: rgba(0, 0, 0, 0.55);
    height: 64px;
    padding: 15px 0;
    position: absolute;
    top: 1090px;
    width: 100%;
}
.search_box {
    width: 693px;
    display: inline;
}
.search-btn{
    background-image: linear-gradient(68deg, #fd7843, #fb6262);
    padding: 12px 135px 13px 0px;
    position: relative;
    right: 3px;
    top: 0px;
    cursor: pointer;
}
.search_font {
    color: white;
    font-size: 22px;
    left: 60px;
    position: relative;
    cursor: pointer;
}
.advance_btn {
    background-image: linear-gradient(68deg, #fd7843, #fb6262);
    border: medium none;
    color: white;
    font-size: 15px;
    height: 45px;
    width: 156px;
    font-family: Microsoft Yi Baiti;
    padding: 0 30px 0 0;
}
.angle_search{
    color: white;
    cursor: pointer;
    font-size: 32px;
    left: -30px;
    position: relative;
    top: 5px;
}
.advance_search{
    background-color: rgba(0, 0, 0, 0.55);
    height: 64px;
    padding: 6px 0;
    position: absolute;
    top: 1090px;
    width: 100%;
}
.event_btn, .category_dropdown, .city_btn {
    height: 52px;
    width: 265px;
    float: left;
    padding: 0 14px 0 0;
}
#sel1 {
    -moz-appearance: none;
    cursor: pointer;
}
.advsearch-btn{
    background-image: linear-gradient(68deg, #fd7843, #fb6262);
    padding: 12px 135px 13px 0px;
    position: relative;
    right: 3px;
    top: 10px;
    cursor: pointer;
}
.sort_font {
    cursor: pointer;
    left: 50%;
    position: absolute;
    top: 15px;
}
.down_btn{
    background-image: linear-gradient(68deg, #fd7843, #fb6262);
    padding: 3px 0 23px 13px;
    position: relative;
    right: 3px;
    top: 0px;
    cursor: pointer;
}
.down_font{
     color: white;
    cursor: pointer;
    font-size: 22px;
    left: -6px;
    position: relative;
    top: 12px;
}
.advance_content {
    width: 1030px;
}
.ui-priority-secondary,.ui-datepicker-buttonpane, .ui-widget-content {
    display: none;
}
.calander{
    padding-left: 82px;
    width: 100%;
}
.calander_active{
    margin-top: 0;
}
.ui-datepicker-inline,.ui-state-default,.ui-widget-header {
    background-color: rgba(252, 110, 82, 0.65) !important;
    border: medium none !important;
    text-align: center !important;
}
.ui-datepicker-inline{
    width: 1000px !important;
}
.ui-datepicker-group-first, .ui-datepicker-group-last {
    width: 363px !important;
}
.ui-datepicker-group.ui-datepicker-group-last {
    float: right !important;
    position: relative;
}
.ui-datepicker-calendar th span {
    color: white !important;
}
.ui-datepicker-title span {
    color: white !important;
}
.ui-state-default, .ui-datepicker-header {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    border: medium none !important;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: #7b1e0d none repeat scroll 0 0 !important;
    border: 1px solid #7b1e0d !important;
    color: white !important;
}
.ui-widget-header .ui-icon {
    background-image: url("../img/ui-icons_444444_256x240.png") !important;
}
.events_calander {
    left: 70%;
    position: absolute;
    top: 0;
}
.events_content {
    width: 148%;
}
.event_date {
    color: black;
    font-family: Microsoft Yi Baiti;
    font-size: 46px;
}
.event_name ul li {
    color: white;
    list-style-type: none;
    padding: 7px;
    position: relative;
    font-family: Microsoft Yi Baiti;
    font-size: 16px;
}
.event_name ul {
    padding: 0;
}
.event_day {
    font-size: 16px;
    font-family: Microsoft Yi Baiti;
    color: black;
}
.all_categories ul li {
    height: 385px;
    list-style-type: none;
    padding: 0;
}
.categories_home {
    color: #222222;
    font-size: 23px;
    text-align: center;
    font-family: Microsoft Yi Baiti;
}
.all_categories {
    height: 482px;
    padding: 0;
    position: relative;
    width: 100%;
}
.image_block {
    display: -moz-inline-box;
    padding: 0;
}
.img-responsive {
    padding: 0;
    position: relative;
}


.grid-sizer,
.grid-item { width: 10%; }
.grid img { width:100%; }


/*list page*/
.search_listpage {
    background: #ececec none repeat scroll 0 0;
    float: left;
    height: 64px;
    left: 9%;
    padding: 15px 20px;
    position: relative;
    width: 61%;
}
.search_box_listpage {
    display: inline;
    height: 36px;
    width: 511px;
}
.search_btn_listpage {
    background-image: linear-gradient(68deg, #fd7843, #fb6262);
    cursor: pointer;
    padding: 8px 10px 8px 0;
    position: relative;
    right: 5px;
    top: 0;
}
.search_font_listpage {
    color: white;
    cursor: pointer;
    font-size: 15px;
    left: 5px;
    position: relative;
}
.list_search{
     padding: 25px 0;
}
.view_list{
    float: right;
}
.view_txt{
    color: black;
    font-family: Microsoft Yi Baiti;
    font-size: 22px;
}
.grid_view, .list_view {
    color: #c9c9c9;
    font-size: 22px;
    cursor: pointer;
    padding: 0 5px;
}
.grid_view:hover {
    color: #fd7745;
}
.list_view:hover {
    color: #fd7745;
}
.listpage_result {
    float: right;
    width: 95%;
}
.breadcrumbs {
    display: inline-flex;
}
.breadcrumbs ul li {
    display: inline;
    list-style-type: none;
    font-family: Microsoft Yi Baiti;
    color: #444444;
    font-size: 20px;
    padding: 0 8px;
    cursor: pointer;
}
.events_result {
    left: 34%;
    position: relative;
}
.showing_list{
    font-family: Microsoft Yi Baiti;
    color: #444444;
}
.result_count{
    font-family: Microsoft Yi Baiti;
    color: #fd7745;
}
.list_leftpart {
    width: 82%;
    margin: 0 auto;
}
.part1 ul li {
    list-style: outside none none;
}
.part1 > ul {
    padding: 0;
    line-height: 50px;
}
.part1{
    background-image: linear-gradient(68deg, #fd7843, #fb6262);
    height: 50px;
    text-align: center;
    width: 256px;
}
.sort_txt {
    color: white;
    font-size: 20px;
    font-family: Microsoft Yi Baiti;
    font-weight: bolder;
}
.subcategory_txt {
    border: 1px solid #dbdbdb;
    width: 256px;
    height: 50px;
}
.bar_font {
    border-right: 1px solid #dbdbdb;
    color: #fc6958;
    float: left;
    font-size: 30px;
    padding: 9px;
}
.icon_list > ul {
    padding: 0;
}

.category_icon ul {
    float: left;
    padding: 0;
    cursor: pointer;
}
.category_img {
    left: 0px;
    position: relative;
   padding: 8px 0px;
}
.category_hovericon {
    left: 0px;
    position: relative;
    top: -31px;
}
.category_hovericon{
    display: none;
}
.icon_list .category_icon_hover:hover .category_hovericon{
    display: block;
} 

.icon_list .category_icon_hover:hover {
    background-image: linear-gradient(68deg, #fd7843, #fb6262);
}
/*.entertainment_list li,.campus_list li,.competition_list li,.exhibition_list li,.spiritual_list li,.business_list li,.sports_list li,.adventure_list li {
    
}
.entertainment_list ul,.campus_list ul,.competition_list ul,.exhibition_list ul,.spiritual_list ul,.business_list ul,.sports_list ul,.adventure_list ul {
   
}
*/
.subcategory_list {
    color: #555555;
    font-family: Microsoft Yi Baiti;
    left: 50px;
    line-height: 30px;
    position: absolute;
    top: 0;
    text-align:left;
}
.category_icon {
    border: 1px solid #dbdbdb;
    height: 344px;
    margin: -11px -14px;
    position: relative;
    width: 255px;
}
.listview_events, .listgrid_events {
    width: 42%;
    height: 500px;
}
.event_content {
    border-bottom: 1px solid #dbdbdb;
    height: 128px;
    margin: 6px 0;
}
.event_details {
    float: right;
    padding: 0;
}
.event_details > ul {
    float: left;
    list-style: outside none none;
    padding: 0;
}
.event_details li {
    color: black;
    font-family: Microsoft Yi Baiti;
    font-size: 17px;
}
.event_time{
    background: transparent none repeat scroll 0 0;
    color: #f88051;
    font-size: 17px;
}
.view_details {
    color: black;
    float: right;
    position: relative;
    top: -30px;
    background-image: linear-gradient(-21deg, #fea21f, #f9c216);
    padding: 5px;
    font-family: Microsoft Yi Baiti;
}
.view_details:hover {
    text-decoration: none;
}
.list_smallicon{
     padding: 0 8px;
}
.fa.fa-map-marker {
    padding: 0 13px;
}
.list_pagination {
    float: right;
    width: 45%;
}
.pagination li a {
    color: black;
    padding: 0 5px;
}
.previous, .previous:hover {
    color: #f5765d;
    text-decoration: none;
    font-family: Microsoft Yi Baiti;
}
.next, .next:hover {
    text-decoration: none;
    color: black;
    font-family: Microsoft Yi Baiti;
}
.fa.fa-angle-left {
    background: #f5765d;
    color: white;
    padding: 3px 6px;
    cursor: pointer;
}
.gridview_content {
    height: 320px;
}
.gridview_details > ul {
    list-style: outside none none;
    padding: 0;
}
.gridview_details li {
    width: 266px;
    font-family: Microsoft Yi Baiti;
    color: black;
    font-size: 15px;
}
.listpage_adv {
    float: right;
    height: 45px;
    margin: 25px 0;
    position: relative;
    width: 395px;
}
.city_selectbox {
    float: right;
    height: 23px;
    padding: 0;
    width: 185px;
    background: #f0f0f0 none repeat scroll 0 0;
    border: medium none #f0f0f0;
}
.city_categories {
    border: 1px solid  #dbdbdb;
    height: 94px;
    margin: 11px -14px;
    position: relative;
    width: 255px;
}
.city_select {
    font-family: Microsoft Yi Baiti;
    padding: 14px 8px;
}
.sort_city {
    cursor: pointer;
    left: 90%;
    position: absolute;
}
.check_list > ul {
    display: -moz-inline-box;
    padding: 0;
}
.check_list li {
    font-size: 20px;
    padding: 0 30px;
    font-family: Microsoft Yi Baiti;
}
.c_breadcrumbs a {
    color: gray;
    text-decoration: none;
}.c_breadcrumbs a:hover {
    
    text-decoration: none;
}
